{% extends 'common/base.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center my-4">Posts</h1>
        <div class="row grid-wrapper">
            {% for post in posts %}
                <div class="col-md-2 col-4 mb-3 d-flex justify-content-center">
                    <div class="image-container" id="image-{{ post.id }}">
                        <img src="{{ post.image.url }}" alt="Image {{ forloop.counter }}" class="img-thumbnail">
                        <p>{{ post.caption }}</p>
                        <small>Posted by {{ post.user.profile.get_display_name }} at {{ post.created_at }}</small>
                        <button onclick="deleteImage('{{ post.id }}')" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function deleteImage(postId) {
            if (!confirm("Are you sure you want to delete this image?")) {
                return;
            }

            fetch("{% url 'delete_post' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: JSON.stringify({image_id: postId}) // Send image ID to the server
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert("Error: " + data.error);
                    } else {
                        alert(data.message);
                        // Remove the image from DOM
                        document.getElementById(`image-${postId}`).remove();
                    }
                })
                .catch(error => console.error("Error:", error));
        }
    </script>
{% endblock %}