{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    
    <meta name="csrf-token" content="{{ csrf_token }}">
    
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="text-center mb-4">FitSnap</h1>
            </div>
            <div class="container d-flex justify-content-center">
                <a class="btn btn-primary btn-pill ms-center m-3" href="{% url 'create_post' %}">Upload a snap!</a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row grid-wrapper">
            {% for post in page_obj %}
                <div class="col-md-2 col-4 mb-3 d-flex justify-content-center">
                    <div class="image-container" id="image-{{ post.id }}">
                        <img src="{{ post.image.url }}" alt="Image {{ forloop.counter }}" class="img-thumbnail">
                        <p>{{ post.caption|truncatewords:5 }}</p>
                        <small>Posted by {{ post.user.profile.get_display_name }} at {{ post.created_at }}</small>
                        {% if post.user == request.user or request.user.is_staff %}
                            <button onclick="deleteImage('{{ post.id }}')" class="btn btn-danger"><i
                                    class="fa fa-trash"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'common/page-nav.html' %}
    </div>

    <script>
        const deletePostUrl = "{% url 'delete_post' %}";
    </script>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/delete_image.js' %}"></script>
{% endblock %}