{% extends 'common/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-5">
        <div class="d-flex align-items-center mb-4">
            <h2 class="mb-0">Workouts List</h2>
            <a class="btn btn-primary btn-pill ms-auto me-2" href="{% url 'add_workout' %}">Add Course</a>
            <a class="btn btn-primary btn-pill" href="{% url 'exercise_list' %}">Exercises</a>
        </div>
        <!-- Table for displaying courses -->
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Workout Name</th>
                <th scope="col">Type</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for workout in workouts %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ workout.workout_name }}</td>
                    <td>{{ workout.workout_type }}</td>
                    <td>{{ workout.workout_description }}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{% url 'workout_detail' pk=workout.pk %}">Start
                            workout</a>
                        <a class="btn btn-outline-secondary" href="{% url 'edit_workout' workout_id=workout.pk %}">Edit</a>
                        <a class="btn btn-outline-alert" href="{% url 'workout_delete' pk=workout.pk %}">Delete</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No workouts available</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}