{% extends 'common/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container exercise-container">
        <div style="width: 55%; text-align: center;">
            <h1>{{ workouts.workout_name }} - Workout</h1>
            <div class="exercise-timer">
                <div id="exercise-name"></div>
                <div id="repetitions-info" style="display: none;"></div>
                <div class="timer" id="timer"></div>

                <button id="start-button" class="btn btn-success mt-4" onclick="startWorkout()">
                    Start Workout
                </button>
                <button id="pause-button" class="btn btn-warning mt-4" onclick="pauseTimer()" style="display: none;">
                    Pause
                </button>
                <button id="resume-button" class="btn btn-primary mt-4" onclick="resumeTimer()" style="display: none;">
                    Resume
                </button>
                <button id="previous-button" class="btn btn-light mt-4" onclick="previousExercise()"
                        style="display: none;">
                    Previous Exercise
                </button>
                <button id="next-button" class="btn btn-primary mt-4" onclick="nextExercise()" style="display: none;">
                    Next Exercise
                </button>
                <div id="complete-form-div" style="display: none;">
                    <form method="post">
                        {% csrf_token %}
                        {{ workout_history }}
                        <button id="complete-button" class="btn btn-success mt-4" type="submit"
                                style="display: inline;">
                            Complete Workout
                        </button>
                    </form>
                </div>
            </div>
        </div>


        <!-- Exercise List Table -->
        <div id="exercise-table">
            <h3>Exercise List</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Set</th>
                </tr>
                </thead>
                <tbody>
                {% for e in exercises %}
                    <tr id="exercise-{{ forloop.counter }}">
                        <td>{{ e.exercise.exercise_name }}</td>
                        <td>
                            {% if e.duration %}
                                {{ e.duration }} sec
                            {% else %}
                                {{ e.repetitions }} reps
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="spotify-div">
        <div class="spotify-player">

            <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/playlist/5d8I8dYkVKmfbwnN4SJduT?utm_source=generator&theme=0"
                    width="100%" height="450rem" frameBorder="" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
            </iframe>
            <p>You need a logged in <a
                    href="https://accounts.spotify.com/en/login?continue=https%3A%2F%2Fopen.spotify.com%2F"
                    target="_blank">Spotify</a> account to listed to the full songs!</p>
        </div>
    </div>



    <script>
        const exercises = {{ exercises_json | safe }};
    </script>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/workout_logic.js' %}"></script>
{% endblock %}