.form-class {
    display: block;
    border: 2px dotted black;
    max-width: 650px;
    min-width: 450px;
    background-color: rgb(206, 234, 242);
    padding: 50px 25px;
    margin-bottom: 0.4rem;
    border-radius: 0.1rem;
    box-shadow: 5px 5px 5px #888888;
}



.form-class-div {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-link {
    margin: 1rem 0 0 0 !important;
    text-align: -moz-center;
    padding: 0.5rem;
    font-size: 0.9rem;

}

.register-link p {
    margin: 1rem;
}
