.login-register-div {
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-register-box, .second-option {
    display: block;
    width: 300px;
    background-color: rgb(173, 216, 230);
    border: 1px solid rgb(156, 152, 152);
    padding: 50px 25px;
    margin-bottom: 5px;
    border-radius: 50px;
    border: 0.5px solid;
    box-shadow: 5px 5px 5px #888888;
}

.login-register-box h1 {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "ROND" 0;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
}

.login-register-box label {
    display: none;
}

.login-register-box input {
    background-color: rgb(240, 230, 230);
    border: 0.1px solid rgb(186, 184, 184);
    border-radius: 3px;
    height: 30px;
    width: 100%;
    padding-left: 2px;
    margin-top: 10px;
}

.login-register-box button {
    background-color: rgb(0, 162, 255);
    color: white;
    font-weight: bold;
    border: none;
    width: 100%;
    border-radius: 3px;
    margin-top: 10px;
    height: 30px;
}

.second-option {
    margin-top: 10px;
    text-align: -moz-center;
    padding: 1rem;
    font-size: 12px;
    ;

}

.second-option p {
    margin: 0;
}
