.profile-container {
    margin-top: 50px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.dotted-line {
    border: none;
    border-top: 2px dotted #000;
    width: 100%;
    margin: 3rem 0;
}