
.height {
    height: 4rem;
    padding-top: 1rem;
}

.search {
    position: relative;
    box-shadow: 0 0 20px rgba(51, 51, 51, 0.1);
    max-width: 600px;
    margin: 0 auto;
    border-radius: 25px 0 0 25px;
}


.search input {
    height: 45px;
    border: 2px solid #d6d4d4;
    padding-left: 40px;
    border-radius: 25px 0 0 25px;
    border-right: none;
    outline: none;
    transition: border-color 0.3s ease;
}


.search input:focus {
    border-color: blue;
    box-shadow: none;
}


.search .fa-search {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #a1a1a1;
}


.search button {
    height: 45px;
    width: 100px;
    background: blue;
    color: white;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}


.search button:hover {
    background: dodgerblue;
    box-shadow: 0 4px 10px rgba(201, 242, 155, 0.2);
}


.search button:active {
    background: navy;
}


.search form {
    display: flex;
    align-items: center;
    gap: 0;
}